* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.inner-container {
  max-width: 900px;
  margin: 0 auto;
}

section {
  padding: 80px;
}

header,
.hero {
  background-color: #1f2937;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
}

.header-link {
  color: #e5e7eb;
  font-size: 18px;
}

.header-link:hover {
  color: #f9faf8;
}

.flex-hero {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.left-hero {
  flex: 1;
}

.right-hero {
  flex: 1;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin-bottom: 10px;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
  line-height: 1.5;
}

.hero-button {
  background-color: #3882f6;
  color: #fff;
  border-radius: 5px;
  padding: 10px 40px;
}

.hero-button:hover {
  background-color: #f9faf8;
  color: #3882f6;
}

.services {
  padding-top: 40px;
  flex: 1;
}

.services-title {
  font-size: 32px;
  text-align: center;
}

.services-flex {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

@media (max-width: 600px) {
  .services-flex,
  .inner-container.cta-flex-container {
    flex-direction: column;
    /* gap: 20px; */
  }
}

.service-img {
  border-radius: 5px;
}
.service-text {
  text-align: center;
  margin-top: 5px;
}

.quote {
  background-color: #e5e7eb;
  color: #fff;
}

figcaption {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.author {
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
  text-align: right;
}

.cta-container {
  background-color: #3882f6;
  color: #fff;
  border-radius: 5px;
  padding: 40px;
}

.cta-flex-container {
  display: flex;
  align-items: center;
  gap: 150px;
}

.cta-text-container h2 {
  font-size: 24px;
  font-weight: bold;
}

.cta-button {
  background-color: transparent;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #fff;
  padding: 10px 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #fff;
    color: #3882f6;
  }
}

footer {
  text-align: center;
  background-color: #1f2937;
  color: #fff;
  padding: 20px;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
}
